:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px; // Standard toolbar height
  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-primary);
  z-index: 1000;
  padding: 0 24px;
  box-sizing: border-box;
  align-items: center;
}

.topbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.controls {
  display: flex;
  align-items: center; /* vertically center toggle and button */
  gap: 8px; /* space between toggle and button */
}

.title {
  font-size: 20px;
  font-weight: 500;
}

.menu-button {
   color: var(--mat-sys-primary) !important;
}

