:host {
  display: block;
  width: 300px;
  max-height: 400px;
  overflow: auto;
  background-color: white;
  padding: 8px;
  border-style: solid;
  border-width: thin;
  border-color: lightgray;
}

.item{
  display: grid;
  grid-template-rows: auto auto auto;
  border-style: none none dotted none;
  border-width: thin;
  border-color: lightgray;
  padding-top: 12px;
}

.status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.collection{
  font-size: smaller;
  color: darkgray;
}
